@*
  ViewBag.Title = "AspTravlerz Trips";
*@

@*
<p>
  Here is a list of your upcoming trips:
  <a href="@Url.Action("Create", "Trips")"><i class="glyphicon glyphicon-plus-sign blue"></i>Add Trip</a>
</p>

<upcoming count="2"></upcoming>
*@

<app-root></app-root>

@section scripts {
	@Html.Partial("~/wwwroot/index.cshtml")
}