<!DOCTYPE html>
<html>
<head>
    <title>ASP Travlerz - Trip Tracking for you!</title>
</head>
<body>

    @RenderBody()

    <footer>&copy; @DateTime.Now.Year  - ASP Travlerz</footer>

</body>
</html>