<!DOCTYPE html>
<html>
<head>
    <title>ASP Travlerz - Trip Tracking for you!</title>
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <footer>&copy; @DateTime.Now.Year  - ASP Travlerz</footer>

</body>
</html>