@model AspTravlerz.Models.Trip
@{
	ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
	<div class="form-horizontal">
		<h4>Edit Trip (@Model.Name)</h4>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label asp-for="Name" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Destination" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Destination" class="form-control" />
					<span asp-validation-for="Destination" class="text-danger" />
				</div>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="StartDate" class="form-control" />
					<span asp-validation-for="StartDate" class="text-danger" />
				</div>
			</div>
		<div class="form-group">
			<label asp-for="EndDate" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="EndDate" class="form-control" />
				<span asp-validation-for="EndDate" class="text-danger" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
</form>
<div>
	<a asp-action="Index">Back to List</a>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
