@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>About this site</h2>

<p>Licenses for content used:</p>

<h4>Libraries</h4>
<ul>
  <li><a href="~/lib/bootstrap/LICENSE">Bootstrap CSS</a></li>
  <li><a href="~/lib/jquery/LICENSE.txt">jQuery</a></li>
</ul>

<h4>Images</h4>
<ul>
  <li>Banner image on home page is licensed by creative commons from <a href="https://www.flickr.com/photos/pagedooley/2531147358/">Kevin Dooley on Flickr</a> and cropped to fill the space.  <a href="~/img/header.org.jpg">Original image</a></li>
</ul>
